certifi==2023.11.17
chardet==3.0.4
Django==4.2
django-crispy-forms==1.9.0
idna==2.8
Pillow==9.3.0
pytz==2019.3
requests==2.32
urllib3==2.3
gunicorn==23.0.0
mysqlclient==2.2.7
uvicorn==0.34.0
django-storages[google]
google-auth